@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Marck+Script&display=swap');

.main_header {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;
    justify-content: center;

    margin: 30px 0 30px 0;
}

.title {
    display: inline-block;

    letter-spacing: 0.2rem;

    font-size: 3.7rem;
    font-weight: 500;
}

.by {
    font-family: 'Bad Script';
    font-size: 1.2rem;
}

a {
    color: #403d39;
}