.post_main_container {
    box-sizing: border-box;

    background-color: #faf2e3;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
    height: 100%;

    margin: 0px 15%;
    margin-bottom: 4%;

    padding: 2% 10%;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.post_container {
    min-width: 200px;

    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.mat-card-title {
    font-size: 2rem;
}

.mat-card-subtitle {
    font-size: 1rem;
}

.mat-card-content {
    font-size: 1.1rem;
}

.mat-card-image {
    height: 100%;
    max-height: 250px;
    object-fit: cover;
}
