<div *ngIf="post" class="post_main_container">
    <mat-card class="post_container">
        <mat-card-header>
            <mat-card-title>
                {{post.title}}
            </mat-card-title>
            <mat-card-subtitle>
                {{post.author}}
                {{post.creationDate.toLocaleString()}}
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="imageUrl" *ngIf="imageUrl">
        <mat-card-content>
            <p>
                {{post.text}}
            </p>
        </mat-card-content>
    </mat-card>
</div>    
