.posts_main_container {
    box-sizing: border-box;

    background-color: #faf2e3;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
    height: 100%;

    margin: 0px 15%;
    margin-bottom: 4%;

    padding: 2% 0;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.search_container {
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: center;
    align-items: center;
}

.search_container form {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;
}

.search_container button {
    background-color: #60C9A6;
    color: white;
    padding: 0px 25px;
}

.search_input {
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    outline: none;
    padding: 9px 16px;
  
    width: 100%;
    max-width: 375px;
  
    margin-right: 7px;

    font-size: 0.9rem;
}

.new_post_btn {
    margin: 20px 0;
}

.new_post_btn a {
    background-color: #60C9A6;

    font-size: 1.3rem;
    color: white;
    padding: 10px 25px;
}

.post_container {
    max-width: 450px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.post_container:not(:last-child) {
    margin-bottom: 17px;
}

.post_container:last-child {
    margin-bottom: 30px;
}