<div class="posts_main_container">
    <div class="search_container">
        <form [formGroup]="searchForm">
            <input formControlName="search" type="text" id="search" placeholder="Search post by name" class="search_input">
            <button mat-raised-button type="submit" (click)="search()">Search</button>
        </form>
    </div>
    <div class="new_post_btn">
        <a mat-raised-button [routerLink]="['/posts/func/new']" routerLinkActive="router-link-active">Add new post</a>
    </div>
    <div *ngIf="posts?.length > 0" class="posts_container">
        <mat-card *ngFor="let post of posts" class="post_container">
            <mat-card-header>
                <mat-card-title>
                    {{post.title}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{post.author}}
                    {{post.creationDate.toLocaleString()}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{post.text.length &lt; 150 ? post.text : post.text.substring(0, 150) + '...'}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/posts', post.id]" routerLinkActive="router-link-active">Read more...</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>