<div class="new_post_main_container">
    <form [formGroup]="newPostForm">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Author</mat-label>
            <input matInput formControlName="author" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Text</mat-label>
            <textarea matInput formControlName="text"></textarea>
        </mat-form-field>

        <button mat-button color="warn" (click)="upload()" class="image_upload_btn">
            <mat-icon>file_upload</mat-icon>
            {{imageBtnName}}
        </button>
        <input type="file" id="fileUpload" name="fileUpload" accept="image/*" style="display:none;"/>

        <button mat-raised-button type="submit" (click)="newPost()" class="add_btn">Add</button>
    </form>
    <div *ngIf="newPostForm.valid">

    </div>
</div>