.new_post_main_container {
    box-sizing: border-box;

    background-color: #faf2e3;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
    height: 100%;

    margin: 0px 15%;
    margin-bottom: 4%;

    padding: 2% 0;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.new_post_main_container form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 350px;
}

.mat-form-field {
    width: 100%;
}

.image_upload_btn {
    color: #60C9A6;
    font-size: 1rem;
    margin: 10px 0;
}

.add_btn {
    background-color: #60C9A6;
    color: white;
    width: 100px;
}